.gradient {
  background: linear-gradient(90deg, #9c00c8 0%, #ff58ae 100%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
